// there's no jaguar emoji?! ðŸ™€ 
- let cats = { tiger: 'ðŸ¯', lion: 'ðŸ¦', jaguar: 'ðŸ†ðŸ†', leopard: 'ðŸ†',   };
- let o = Object.entries(cats);

div.component(style=`--n: ${o.length}`)
	button.toggler.visual-item(aria-expanded='false' aria-controls='cats-menu')
		// in a real project, this would be an SVG
		span.ico(aria-hidden='true') ðŸ˜¼
		span cats
	// found out about inert attribute from
	
	// then looked it up

	ul#cats-menu(inert)
		- o.forEach((c, i) => {
			- let [k, v] = c;
			li.visual-item(style=`--i: ${i}`)
				// in a real project, this would be an SVG
				span.ico(aria-hidden='true') #{v}
				span #{k}
				// this would open a submenu if we had one
				// but we don't, so it's disabled 
				// and hdden from screenreaders
				// if you do add a submenu, 
				// remove first two attributes
				// and give submenu an id identical
				// to this button's area-controls
				button.toggler(disabled aria-hidden='true' 
											 aria-label=`open ${k} submenu` 
											 aria-expanded='false'
											 aria-controls=`${k}-submenu`) âžœ
		- })